{% extends 'pages/base.html' %} {% block main %}
<div class="scanlines"></div>
<div class="wrapper">
    <div class="box">
        {% for aboutme in aboutme %}
        <h1 class="title">درباره من</h1>
        <div class="one-third">
            <div class="outer none"><span class="inset"><img src="{{aboutme.AboutmeImage.url}}" alt=""></span></div>
        </div>
        <div class="two-third last">
            {{aboutme.AboutmeBody|safe}}
        </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
{% endblock %}