{% load static %}
{% load base_tags %}

<!DOCTYPE HTML>
<html lang="fa" dir="rtl">

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>......{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static '/pages/style/css/style.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static '/pages/style/css/media-queries.css' %}">

    <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'>
    <link rel="shortcut icon" href="{% static '/pages/style/images/logo.png' %}">
    <!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all">
<![endif]-->
    <!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all">
<![endif]-->
    <script src="{% static '/pages/style/js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static '/pages/style/js/ddsmoothmenu.js' %}"></script>
    <script src="{% static '/pages/style/js/retina.js' %}"></script>
    <script src="{% static '/pages/style/js/selectnav.js' %}"></script>
    <script src="{% static '/pages/style/js/jquery.masonry.min.js' %}"></script>
    <script src="{% static '/pages/style/js/jquery.fitvids.js' %}"></script>
    <script src="{% static '/pages/style/js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static '/pages/style/js/mediaelement.min.js' %}"></script>

    <script src="{% static '/pages/style/js/jquery.dcflickr.1.0.js' %}"></script>
    <script src="{% static '/pages/style/js/twitter.min.js' %}"></script>
    <script>
        $.backstretch("{% static '/pages/style/images/bg/3.jpg' %}");
    </script>
    <meta charset="UTF-8">
    <title>Pure CSS DropDown Menu</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/pages/style/css/categorylist.css' %}">
</head>

<body>
    <div class="scanlines"></div>
    <div class="header-wrapper opacity">
        <div class="header"><div class="logo">
                <a href="/"> <img src="static/pages/style/images/logo@2x.png" alt=""> </a>
        </div>
                <nav>
                    <ul>
                        <li><a href="#">دسته مطلب ها</a>
                            {% category %}
                        <li><a href="/">خانه</a></li>
                        <li><a href="/contact" target="_blank">تماس با من</a></li>
                        <li><a href="/aboutme" target="_blank">درباره من</a></li>
                        <li><a href="/support" target="_blank">حمایت مالی</a></li>
                        <li><a href="/projects" target="_blank">پروژه ها</a>
                        <li><a href="/blogs/" target="_blank">همه مطلب ها</a>
                    </ul>
                </nav>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer" class="four">
        <div id="first" class="widget-area">
            <div class="widget widget_search">
                <h3 class="widget-title">جستجو</h3>
                <form class="searchform" method="get" action="#">
                    <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'" />
                </form>
            </div>
        </div>
    </div>
    <!--{% popularpost %}-->
    {% block main %} {% endblock %}

    <div class="footer-wrapper">
        <div id="footer" class="four">
            <div id="first" class="widget-area">
                مواظب باشید. مکنه اینجا دیدتون رو عوض کنه. پس اگه جرئت ریسک ندارید همین الآن اینجا رو ترک کنید......
            </div>
        </div>
    </div>
    </div>
    <script src="{% static '/pages/style/js/scripts.js' %}"></script>
</body>

</html>
