{% extends 'pages/base.html' %} {% block main %}
<div class="scanlines"></div>

<div class="wrapper">
    <div class="box">
        {% for article in articles %}
        <div class="post format-image box">
            <a href="{% url 'pages:post' article.ArticleSlug %}" target="_blank"> <img src="{{article.ArtileThumbnail.url}}" width="500" height="281" alt="" style="align-items: center;">
            </a>
            <h1 class="title"><a href="{% url 'pages:post' article.ArticleSlug %}" target="_blank">{{article.ArticleTitle}}</a></h1>
            {{article.ArticleDiscription}}
            <div class="details"> <span class="icon-image">{{article.ArticleDate}}</span></div>
            <div class="tags"><a href="#">tag</a></div>

            <div class="clear"></div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">صفحه قبل</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">صفحه بعد</a></li>
            </ul>
          </nav>
    </div>
</div>
<div class="clear"></div>
</div>
{% endblock %}