{% extends 'pages/base.html' %} {% block main %}<div class="scanlines"></div>
<div class="wrapper">
    <div class="box">
    <div class="intro">
        {% for header in header %} {{header.HeaderDescription|safe}} {% endfor %}
    </div>
    <div class="blog-wrap">
        <div class="blog-grid">
            <div class="post format-quote box">
                <blockquote style="font-size: 24px">
                    {{category.CategoryTitle}}
                </blockquote>
                <div class="details"></div>
            </div>
            {% for article in category.articlecategory.all %}
            <div class="post format-image box">
                <div class="frame">
                    <a href="{% url 'pages:post' article.ArticleSlug %}" target="_blank"> <img src="{{article.ArtileThumbnail.url}}" alt=""> </a>
                </div>
                <h2 class="title"><a href="{% url 'pages:post' article.ArticleSlug %}" target="_blank">{{article.ArticleTitle}}</a></h2>
                {{article.ArticleDiscription}}
                <div class="details"> <span class="icon-image">{{article.ArticleDate}}</span></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}