<style>
  ul li{
    font-size: large;
  }
  h3{
    color: red;
  }
  a {
    color: green;
  }
  .sidebar {
    width: auto;
    margin-left: 0px;
    float: right;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}
</style>
<div class="sidebar">
    <h3 class="widget-title">|||--دسته بندی ها--|||</h3>
    <ul>
      {% for cat in category %}
      <li><a href="{% url 'pages:category' cat.CategorySlug %}">{{cat}}</a></li>
      {% endfor %}
    </ul>
</div>