{% extends 'pages/base.html' %} {% block main %}
<div class="wrapper">
    <div class="content box">
        <h1 class="title">تماس با من</h1>
        <div class="map">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1618047.9864217679!2d48.8104572!3d37.6198074!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401fd79dd371a61f%3A0x4a78900f0f0b7b0b!2sGilan%20Province%2C%20Iran!5e0!3m2!1sen!2snl!4v1639817242017!5m2!1sen!2snl"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="form-container">
            <form class="forms" action="shahinmail12@gmail.com" method="post">
                <fieldset>
                    <ol>
                        <li class="form-row text-input-row">
                            <label>نام</label>
                            <input type="text" name="name" value="" class="text-input required">
                        </li>
                        <li class="form-row text-input-row">
                            <label>ایمیل</label>
                            <input type="text" name="email" value="" class="text-input required email">
                        </li>
                        <li class="form-row text-input-row">
                            <label>موضوع</label>
                            <input type="text" name="subject" value="" class="text-input required">
                        </li>
                        <li class="form-row text-area-row">
                            <label>پیام</label>
                            <textarea name="message" class="text-area required"></textarea>
                        </li>
                        <li class="button-row">
                            <input type="submit" value="Submit" name="submit" class="btn-submit">
                        </li>
                    </ol>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="sidebar box">
        <div class="sidebox widget">
            {% for contact in contact %} {{contact.ContactDescription|safe}} {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}