{% extends 'pages/base.html' %} {% block main %}
<div class="wrapper">
    <div class="intro">
        {% for header in header %} {{header.HeaderDescription|safe}} {% endfor %}
    </div>
    <div class="blog-wrap">
        <div class="blog-grid">
            {% for sub in sub %}
            <div class="post format-quote box">
                <blockquote>
                    {{sub.SubDescription|safe}}
                </blockquote>
                <div class="details"></div>
            </div>
            {% endfor %}
            <div class="post format-video box">
                {% for media in media %}
                <div class="video frame">
                    <iframe src="{{media.MediaAddress}}" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                <h2 class="title"><a href="{{media.MediaPage}}" target="_blank">{{media.MediaTitle|safe}}</a></h2>
                {{media.MediaBody|safe}} {% endfor %}
            </div>
            {% for article in articles %}
            <div class="post format-image box">
                <div class="frame">
                    <a href="{% url 'pages:post' article.ArticleSlug %}" target="_blank"> <img src="{{article.ArtileThumbnail.url}}" alt=""> </a>
                </div>
                <h2 class="title"><a href="{% url 'pages:post' article.ArticleSlug %}" target="_blank">{{article.ArticleTitle}}</a></h2>
                {{article.ArticleDiscription}}
                <div class="details"> <span class="icon-image">{{article.ArticleDate}}</span></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="navigation">
        <div class="nav-previous"><a href="/blogs/" target="_blank"><span class="meta-nav-prev">همه پست ها</span></a></div>
    </div>
</div>
{% endblock %}