<div class="sidebar"></div>
<h3 class="widget-title">پست های محبوب</h3>
    <ul class="post-list">
      <li>
        <div class="meta">
          <h6><a href="#">Charming Winter</a></h6>
          <em>28th Sep 2045</em> </div>
      </li>
      <li>
        <div class="meta">
          <h6><a href="#">Trickling Stream</a></h6>
          <em>5th Sep 2045</em> </div>
      </li>
      <li>
        <div class="meta">
          <h6><a href="#">Morning Glory</a></h6>
          <em>26th Sep 2045</em> </div>
      </li>
    </ul>
</div>