{% extends 'pages/base.html' %} {% block main %}
<div class="scanlines"></div>

<div class="wrapper">
    <div class="main-image">
        <div class="outer"> <span class="inset"><img src="" alt=""></span> </div>
    </div>
    <div class="box">
        <div class="post format-image box">
            <div class="details"> <span class="icon-image">September 26, 2045</span> <span class="likes"><a href="#" class="likeThis">44</a></span> <span class="comments"><a href="#">3</a></span> </div>
            <h1 class="title">Morning Glory</h1>
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.</p>
            <div class="tags"><a href="#">journal</a>, <a href="#">photography</a></div>

            <div class="clear"></div>
        </div>
    </div>
    <div id="comment-wrapper" class="box">
        <div id="comments">
            <h3 id="comments-title">3 Responses to "Morning Glory"</h3>
            <ol id="singlecomments" class="commentlist">
                <li class="comment">
                    <div class="comment">
                        <div class="comment-author vcard user frame"> <img src="style/images/avatar.jpg" class="avatar avatar-70 photo" height="70" width="70" alt=""></div>
                        <div class="message"> <span class="reply-link"><a class="comment-reply-link" href="#">Reply</a></span>
                            <div class="info">
                                <h2>Laura</h2>
                                <span class="meta">September 13, 2045 at 1:26 pm</span> </div>
                            <div class="comment-body ">
                                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            </div>
                            <span class="edit-link"></span> </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <ul class='children'>
                        <li class="comment even depth-2" id="li-comment-5">
                            <div id="comment-5" class="com-wrap">
                                <div class="comment-author vcard user frame"> <img src="style/images/avatar.jpg" class="avatar avatar-70 photo" height="70" width="70" alt=""></div>
                                <div class="message"> <span class="reply-link"><a class="comment-reply-link" href="#">Reply</a></span>
                                    <div class="info">
                                        <h2>Jason</h2>
                                        <span class="meta"> September 13, 2045 at 1:27 pm </span> </div>
                                    <div class="comment-body ">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor.</p>
                                    </div>
                                    <span class="edit-link"></span> </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <div id="comment-form" class="comment-form">
            <div id="respond">
                <h3 id="reply-title">Leave a Reply</h3>
                <form action="#" method="post" id="commentform">
                    <p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>
                    <p class="comment-form-author">
                        <label for="author">Name</label>
                        <span class="required">*</span>
                        <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                    </p>
                    <p class="comment-form-email">
                        <label for="email">Email</label>
                        <span class="required">*</span>
                        <input id="email" name="email" type="text" value="" size="30" aria-required="true">
                    </p>
                    <p class="comment-form-url">
                        <label for="url">Website</label>
                        <input id="url" name="url" type="text" value="" size="30">
                    </p>
                    <p class="comment-form-comment">
                        <label for="comment">Comment</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                    </p>
                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="Post Comment">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
</div>
{% endblock %}