{% extends 'pages/base.html' %} {% block main %}
<div class="scanlines"></div>

<div class="wrapper">
    <div class="main-image">
        <div class="outer"> <span class="inset"><img src="" alt=""></span> </div>
    </div>
    <div class="box">
        <div class="post format-image box">
            <h1 class="title">حمایت مالی</h1>
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.</p>

            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
</div>
{% endblock %}