{% extends 'pages/base.html' %} {% block main %}
<div class="scanlines"></div>
{% for support in supports %}
<div class="wrapper">
    <div class="main-image">
        <div class="outer"> <span class="inset"><img src="{{support.SupportImage.url}}" alt=""></span> </div>
    </div>
    <div class="box">
        <div class="post format-image box">
            {{support.SupportDescription|safe}}
            <div class="clear"></div>
        </div>
    </div>
</div>
{% endfor %}
<div class="clear"></div>
</div>
{% endblock %}